
/* start Variables */
:root{
    --main-color:#0fcab7;
    --section-padding: 60px;
    --secondary-color: #2c4755;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}

/* End Variables */

/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "work sans" , sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small screens*/
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/*medium screens*/
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/*large screens*/
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules*/
/* Start Components */
.special-heading{
    font-weight: 800;
    font-size: 100px;
    margin: 0;
    text-align: center;
    color:  #ebeced;
    letter-spacing: -3px;
}
.special-heading + p{
    text-align: center;
    margin: -30px 0 0;
    color: #797979;
    font-size: 18px;
}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin: -20px 0 0;
    }
}

/* End Components */
/* Start Header */
header{
    padding: 20px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    width: 10%;
}
header .logo img{
    width: 60px;
}
header .links{
    position: relative;
}
header .links:hover .icons span:nth-child(2){
    width: 100%;
}
header .links .icons{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header .links .icons span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
header .links .icons span:first-child{
    width: 100%;
}
header .links .icons span:nth-child(2){
    width: 60%;
    transition: var(--main-duration);
}
header .links .icons span:last-child{
    width: 100%;
}
/*Ul Links*/
header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position:absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 10;
}
header .links:hover ul{
    display: block;
}
header .links ul::before{
    content: "";
    position: absolute;
    border: 10px solid ;
    border-color: transparent transparent #f6f6f6  transparent;
    top:-20px;
    right: 5px;
}

header .links ul li a{
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    color: #333;
    transition:  .3s;
}
header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
header .links ul li:hover a{
    padding-left: 25px;
}
/* End Header */
/* Start Landing Section */
.landing{
    background-image: url('../images/landing2.jpg');
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    /* background-color: aqua; */
    width: 320px;
    max-width: 100%;
}
.landing .text h1{
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
}
.landing .text p{
    font-size: 20px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features{
    background-color: #f6f6f6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.features .container{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px , 1fr));
    grid-template-rows: auto;
    gap:20px;

}
.features .container .feat{
    /* background-color: #ca0f4d; */
    text-align: center;
    padding: 20px;
}
.features  .feat i{
    color: var(--main-color);
}
.features  .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features  .feat p{
    color: #777;
    line-height: 1.8;
    font-size: 17px;
}
/* End Features */
/* Start Services  */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content{
    margin-top: 50px ;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .col .srv{
    display: flex;
    margin-bottom: 40px;
    height: 50%;
}
@media (max-width:767px){
    .services .services-content .col .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .col .srv i{
    flex-basis: 60px;
    color: var(--main-color);
}
.services .services-content .col .srv .text{
    flex: 1;
}
.services .services-content .col .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .col .srv .text p{
    color: #777;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
}
.services .services-content .col .image{
    text-align: center;
    position: relative;
}
.services .services-content .col .image::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    top: -50px;
    right: 0px;
    z-index: -1;
}
.services .services-content .col .image img{
    width: 260px;
}
@media (max-width: 1199px){
    .services .services-content .col .image{
        display: none;
    }
}
/* End Services  */
/* Start Portfolio  */
.portfolio{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    gap:30px;
}
@media (max-width:767px){
    .portfolio .portfolio-content{
        text-align: center;
    }
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio  .card img{
    max-width: 100%;
}
.portfolio  .card .info{
    padding: 20px ;
}
.portfolio  .card .info h3{
    margin: 0;
}
.portfolio  .card .info p{
    font-size: 18px;
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;
}
/* End Portfolio  */
/* Start About */
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image{
    width: 225px;
    height: 225px;
    background-color: #0fcab7;
    position: relative;
}
@media (max-width:991px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: 100px;
    height: calc(100% + 80px);
    top:-40px;
    left:-20px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 180px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
    top:-40px;
    right: -150px;
}
@media (max-width:991px){
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }
}
.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child{
    font-weight:bold ;
    line-height: 2;
    margin-bottom: 50px;

}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border: 2px solid var(--main-color);
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    font-size: 18px;
    color: #777;
}
/* End About */
 /* Start Contact */
 .contact{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
 }
 .contact .info{
    margin-top: 100px;
    text-align: center;
 }
 .contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color:var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
 }
 .contact .info .link{
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
    display: block;
 }
 @media (max-width:767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }

 }
 .contact .info .social{
    display: flex;
    justify-content: center;
    font-size: 16px;
 }
 .contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
 }
 /* End Contact */
 /* Start Footer */
 .footer{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
 }
 .footer span{
    color: var(--main-color);
    font-weight: bold;
 }
 /* End Footer */
.scroll-to-top{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom:100px;
    right: 25px;
}
.scroll-to-top span{
    background-color: var(--main-color);
    transition: all ease 0.3s;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}
.scroll-to-top span::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f062";
    font-weight:900;
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top:1px;
    left: 4px;
}

   .scroll-to-top span::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(44 71 85 / 60%);
    width: 0%;
    height: 100%;
    transition: all .3s ease;
    z-index: -1;
   }
   .scroll-to-top span:hover::after{
    width: 100%;
   }



